/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root{
    --fuentePpal:'IBM Plex Sans Condensed', sans-serif;
    --blanco:#ffff;
    --negro:#0000;
    --gris:#a5a58d;
    --claro:#edf6f9;
    --rojo:#d90429;
    --verde:#55a630;
    --azul:#00509d;
}
body{
    font-family: var(--fuentePpal);
}
h1{
    font-size: 2.6rem;
    font-weight: 650;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

/**/
.contenedor{
    width: 100rem;
    margin: 0 auto;
}
.hero{
    height: 100vh;
    background-image: url(/img/arriba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.header{
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
}
/*MENU*/
.navegacion a{
    color: var(--claro);
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.navegacion a:hover{
    text-shadow: 1px 1px var(--azul);
}

.contenido-hero{
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: max-content auto;
}
.contenido-hero h1{
    grid-column:  2/3;
    color: var(--claro);
}
.contenido-hero form{
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    display: flex;
    height: 4rem;
}
/*INPUT*/
form input[type="text"]{
    flex: 1;
    border: none;
    border-radius: 5px;
    padding-left: 3rem;
    font-size: 1.6rem;

}
form input[type="submit"]{
    position: absolute;
    background-color: var(--rojo);
    right: 1rem;
    top: 0.6rem;
    padding: 0.7rem 2rem;
    border: none;
    color: var(--claro);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight:700;
}
form input[type="submit"]:hover{
    cursor: pointer;
}

.boton{
    background-color: var(--verde);
    display: block;
    padding: 1.2rem;
    color: var(--claro);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid var(--verde);
    -webkit-box-shadow: 5px 5px 15px 5px #B8B8B8; 
    box-shadow: 5px 5px 15px 5px #B8B8B8;
    transition:  all .5s ease-in-out;
}
.boton:hover{
    color: var(--verde);
    background-color: var(--claro);
}

/*CARDS*/
.contenedor-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 7rem;
}
.card img{
    max-height: 160px;
}
.info .categoria{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--rojo);
    /* border-bottom: 1px solid var(--rojo); */

}
.info .titulo{
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}
.info .precio{
    color: var(--azul);
    font-size: 1.2rem ;
    font-weight: bolder;
}


/*PREMIUM*/

.premium{
    background-image: url(/img/hospedaje-vip.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: unset;
    height: 50rem;
}

@media(min-width:768px){
    .premium{
        grid-template-columns: auto 30%;
    }
    .premium .info{
        grid-column: 2/3;
    }
}

.premium .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.premium .info h3{
    text-align: center;
    color: var(--azul);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
}

@media(min-width:768px){
    .premium .info h3{
        text-align: right;
    }
}

/*DESTINOS*/

.destinos .contenedor-cards{
    grid-template-columns: repeat(autofit, minmax(200px, 1fr));
}

.destinos .card{
    position: relative;
}
.destinos .info{
    position: absolute;
    border: 1rem;
    left: 1rem;
}
.destinos .info .titulo{
    font-size: 2rem;
}

/* FOOTER */
.footer{

}

.nav-footer{
    padding: 1rem;
}

.nav-footer h3{
    font-size: 1.2rem;
}

.nav-footer a{
    display: block;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: var(--azul);
}

.nav-footer a:last-of-type{
    margin: 0;
}

